header {
    background-color : rgba(3, 27, 55, 0.634);
    display : grid;
    grid-template-columns : 200px auto;
}
nav {
    display : flex;
    justify-content : space-around;
}
nav a {
    text-align : center;
    align-content : center;
    justify-content : center;
    color : rgba(9, 9, 9, 0.634);
    text-decoration : rgb(248, 248, 249);
    padding : 30px;
}
nav a:hover {
    background-color : rgba(174, 175, 145, 0.745);
}
.logo {
    max-width : 200px;
}
#link-logo {
    padding-top : 5px;
    justify-self : center;
    align-self : center;
}
body {
    background-color : #000000aa;
    padding : 5px;
    margin : 8px;
}
.music img{
    width: 250px;
    z-index: -1;
    margin-left: -15px;
}
.music audio {
    width: 270px;
    margin-top: -8200px;
    margin-bottom: 150px;
    margin-left: -10px;
    border-radius : 15px 15px 15px 15px;
    border : white solid 3px;
    color: rgba(255, 255, 255, 0.191)
}
.msg p {
    font-size : 1.2em;
    font-weight : 400;
    width : 700px;
    height : 100px;
    color : #f8f5f5;
    padding : 20px;
    margin : 0 0 25px;
    overflow : hidden;
    border-radius : 34px 34px 34px 34px;
    border : #373d20 solid 3px;
}
.primeras-imagenes img{
    width: 500px;
    margin-top: 10em;
}
.segundas-imagenes img {
    width: 100px;
    margin-top: 10em;
    transition: 0.5s;
    object-fit: cover;
}
.segundas-imagenes img:hover{
    transform: scale(3);
}
.primeras-imagenes h4 {
    font-size : 1em;
    font-weight : 200;
    width : 600px;
    height : 100px;
    color : #f8f5f5;
    padding : 20px;
    overflow : hidden;
    border-radius : 34px 34px 34px 34px;
    border : #373d20 solid 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.segundas-imagenes h4 {
    font-size : 0.8em;
    font-weight : 50;
    width : 600px;
    height : 100px;
    color : #f8f5f5;
    padding : 20px;
    overflow : hidden;
    border-radius : 34px 34px 34px 34px;
    border : #373d20 solid 0;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
    object-fit: cover;
}
.segundas-imagenes h4:hover {
    transform: scale(3);
}
.woops-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.uni-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.perfil-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.una-vez{
    width: 300px;
    height: 800px;
}
.once-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.pesc-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.sol-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.pijama {
    width: 300px;
}
.pjs-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.guapa-class {
    width: 700px;
    height: 900px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}
.cara-tapada {
    width: 300px;
}
.carita-class {
    width: 700px;
    height: 980px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(9, 9, 9, 0.634) 0;
}






.taco-class {
    width: 200px;
    height: 300px;
    padding: 20px;
    overflow: hidden;
    border-radius: 0px;
    border: rgba(226, 51, 51, 0.634) 3px;
}
.cami-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.pulsera-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.gordis-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.chiquitina-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.reina-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.desp-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.estado-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.zoom-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.filtro-class {
    width: 200px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}
.nofilt-class {
    width: 100px;
    height: 400px;
    padding:20px;
    overflow: hidden;
    border-radius: 0px;
    border:rgba(226, 51, 51, 0.634) 3px;
}