header {
    background-color : rgba(3, 27, 55, 0.634);
    display : grid;
    grid-template-columns : 200px auto;
}
nav {
    display : flex;
    justify-content : space-around;
}
nav a {
    text-align : center;
    align-content : center;
    justify-content : center;
    color : rgba(9, 9, 9, 0.634);
    text-decoration : rgb(248, 248, 249);
    padding : 30px;
}
nav a:hover {
    background-color : rgba(174, 175, 145, 0.745);
}
.logo {
    max-width : 200px;
}
#link-logo {
    padding-top : 5px;
    justify-self : center;
    align-self : center;
}
body {
    background-color : #000000aa;
    padding : 5px;
    margin : 8px;
}
.music img{
    width: 250px;
    z-index: -1;
    margin-left: -300px;
}
.music audio {
    width: 300px;
    margin-top: -700px;
    margin-bottom: 150px;
    margin-left: 560px;
    border-radius : 15px 15px 15px 15px;
    border : white solid 3px;
    color: rgba(255, 255, 255, 0.191)
}
.msg p {
    font-size : 1.2em;
    font-weight : 400;
    width : 700px;
    height : 100px;
    color : #f8f5f5;
    padding : 20px;
    margin : 0 0 25px;
    overflow : hidden;
    border-radius : 34px 34px 34px 34px;
    border : #373d20 solid 3px;
}
.primeras-imagenes img{
    width: 500px;
}
.segundas-imagenes img {
    width: 500px;
}
main h4 {
    font-size : 1em;
    font-weight : 200;
    width : 600px;
    height : 100px;
    color : #f8f5f5;
    padding : 20px;
    margin : 0 0 25px;
    overflow : hidden;
    border-radius : 34px 34px 34px 34px;
    border : #373d20 solid 0;
}
.woops {
    float: right;
}
.woops h4 {
    position: relative;
    right: 50px;
}