h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20em;
    text-align: center;
    grid-template-columns: 4;
    grid-column: 1/4;
}
img {
    max-width: 250px;
    z-index: -1;
    position: relative;
    left: 0px;
}
h2 {
    text-align: right bottom;
}