@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

:root {
    --heading-font: "Nanum Myeongjo";
    --paragraph-font: Nanum Myeongjo, Helvetica, sans-serif;
}    
.container {
    position: relative;
    width: 50%;
}
.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-top: 10px;
    margin-left: 10px;
}

h2, p {
    font-family: var(--heading-font);
    font-size: 20px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    top: 300%;
    left: 600%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-left: 400px;
    margin-top: -100px;
}
  
.container:hover .image {
    opacity: 0.3;
}
  
.container:hover .middle {
    opacity: 1;
}
  
.text {
    font-family: var(--paragraph-font);
    background-color: #c37620b5;
    color: rgb(2, 2, 2);
    font-size: 16px;
    padding: 16px 32px;
}