@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap');

:root {
    --heading-font: "Ubuntu", sans-serif;
    --paragraph-font: Amatic SC, Helvetica, sans-serif;
}
header {
    background-color:#373d20;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
}
.logo {
    max-width: 700px;
}
#front-img {
    display: block;
    margin: auto;
}
.title-front {
    font-family: var(--heading-font);
    font-size: 6em;
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    font-size: 2em;
    line-height: 2em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
}
.home-page.imgs {
    border: 10px rgba(74, 74, 62, 0.573);
    transition: transform .5s;
}