@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap');

:root {
    --heading-font: "Ubuntu", sans-serif;
    --paragraph-font: Amatic SC, Helvetica, sans-serif;
}
.title-front {
    font-family: var(--heading-font);
    font-size: 7em;
}