@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap');

:root {
    --heading-font: "Ubuntu", sans-serif;
    --paragraph-font: Amatic SC, Helvetica, sans-serif;
}
header {
    background-color: rgba(76, 168, 168, 0.171);
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
}
.logo {
    max-width: 1000px;
}
.title-front {
    font-family: var(--heading-font);
    font-size: 6em;
}
h2 {
    text-align: center;
}
p {
    font-family: var(--paragraph-font);
    font-size: 3em;
}