@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Ubuntu:wght@300&display=swap');

:root {
    --heading-font: "Ubuntu", sans-serif;
    --paragraph-font: Amatic SC, Helvetica, sans-serif;
}
header {
    background-color:#bcbd8b;
    display: grid;
    grid-template-columns: 200px auto;
}
nav {
    display: flex;
    font-family: var(--heading-font);;
    justify-content: space-around;
}
nav a {
    text-align: center;
    align-content: center;
    justify-content: center;
    color :rgba(2, 1, 1, 0.634);
    text-decoration:rgb(17, 17, 18);
    padding: 30px;
}
nav a:hover {
    background-color: rgba(219, 223, 111, 0.745);
}
.logo {
    max-width: 200px;
}
#link-logo{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
body {
    background-color: #abb67bac;
    padding: 5px;
    margin: 8px;
}
h1 {
    font-family: var(--heading-font);
    font-size: 3em;
    font-weight: 400;
    width: 200px;
    height: 100px;
    color: #373d20;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 4px solid #000000;
    text-decoration: underline;
    margin: auto;
}
main p{
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    font-weight: 400;
    width: 1200px;
    height: 100px;
    color: #010101;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 2px solid #000000;
    margin: auto;
}
.family-imgs {
    width: 400px;
    border: 5px solid rgba(136, 238, 186, 0.573);
}
.trip-imgs, .trip-imgs2, .trip-imgs3{
    width: 500px;
    border: 5px solid rgba(136, 238, 186, 0.573);
}
.trip-imgs2 {
    float: center;
}
.trip-imgs3 {
    float: right;
}
footer {
    background-color: #373d20;
    padding: 25px;
    margin-top: 50px;
    display: grid;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color:rgb(17, 17, 18);
    text-decoration: none;
}
footer a:hover {
    color: rgb(107, 78, 196);
}
footer p {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    content: -100px ;
}
footer p:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}